<div class="page-container">
  <!-- Floating Sidebar Navigation -->
  <nav class="vertical-scrollspy">
    <div class="scrollspy-container">
      <div class="scrollspy-header">
        <img src="assets/cleanTech-logo.png" alt="Logo" width="160" />
      </div>
      <div class="scrollspy-stepper">
        <div
          class="step"
          *ngFor="let section of sections"
          [class.active]="activeSection === section.id"
          (click)="scrollTo(section.id)"
        >
          <span class="step-title">{{ section.title }}</span>
        </div>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <main class="content">
    <app-clean-tech-about-section id="about" #heroSection />
    <app-clean-tech-iot-section id="iot" #aboutSection />
    <app-clean-tech-features-slider id="features" #featuresSection />
    <app-clean-tech-app-section id="app" #appSection />
    <app-clean-tech-smart-operation-section id="operations" #stockSection />
    <app-clean-tech-contact-us id="contact" #contactSection />
  </main>
</div>
