<!-- Hero Section -->
<div class="hero-section text-center" appScrollTrigger>
  <div class="hero-mask d-flex justify-content-center align-items-center">
    <div>
      <img
        src="assets/ai_logo_white.png"
        [alt]="'PARTNERS.HERO.LOGO_ALT' | translate"
        class="img-fluid hero-logo"
        appScrollTrigger
        data-animation="zoomIn"
        data-delay="0.3s"
      />
      <p
        class="mb-3"
        appScrollTrigger
        data-animation="fadeInUp"
        data-delay="0.6s"
      >
        {{ "PARTNERS.HERO.DESCRIPTION" | translate }}
      </p>
    </div>
  </div>
</div>
<!-- End Hero Section -->
