<!-- Hero Section -->
<div class="hero-section text-center text-white rounded-3">
  <div class="hero-mask d-flex justify-content-center align-items-center">
    <div>
      <img src="assets/ai_logo_black.png" alt="AI Cloud Logo" class="img-fluid hero-logo" />
      <p class="mb-3">
        At AI Cloud, we’re proud to collaborate with a diverse network of
        trusted partners — from government authorities and smart cities to
        universities and innovation hubs. These partnerships play a vital role
        in delivering intelligent, impactful solutions across the Kingdom.
      </p>
    </div>
  </div>
</div>
<!-- End Hero Section -->
