<section class="about-section">
  <h2 class="section-title" appScrollTrigger data-animation="fadeInDown">
    {{ "ABOUT.TITLE" | translate }}
  </h2>

  <div class="about-wrapper">
    <!-- Flex Container for Text and Image -->
    <div class="about-content">
      <!-- Text Content -->
      <div
        class="about-text"
        appScrollTrigger
        data-animation="fadeInLeft"
        data-delay="1s"
      >
        <h3>{{ "ABOUT.HEADLINE" | translate }}</h3>
        <p class="lead">
          {{ "ABOUT.ABOUT_TEXT" | translate }}
        </p>
      </div>

      <!-- Image -->
      <div
        class="about-image"
        appScrollTrigger
        data-animation="fadeInRight"
        data-delay="1s"
      >
        <img
          class="img-fluid"
          src="assets/clean-tech-product.png"
          [alt]="'ABOUT.IMAGE_ALT-2' | translate"
        />
      </div>
    </div>
  </div>
</section>
