<section class="about-section">
  <h2 class="section-title">
    {{ "ABOUT.TITLE_PART1" | translate }}
    <span class="blue-letter">{{ "ABOUT.TITLE_PART2" | translate }}</span
    >&nbsp;
    {{ "ABOUT.TITLE_PART3" | translate }}
    <span class="blue-letter">{{ "ABOUT.TITLE_PART4" | translate }}</span>
  </h2>

  <div class="about-wrapper">
    <!-- Flex Container for Text and Image -->
    <div class="about-content">
      <!-- Text Content -->
      <div
        class="about-text"
        appScrollTrigger
        data-animation="fadeInLeft"
        data-delay="1s"
      >
        <p class="lead">
          {{ "ABOUT.DESCRIPTION" | translate }}
        </p>
      </div>

      <!-- Image -->
      <div
        class="about-image"
        appScrollTrigger
        data-animation="fadeInRight"
        data-delay="1s"
      >
        <img
          class="img-fluid"
          src="assets/Placeholder Lightbox.png"
          [alt]="'ABOUT.IMAGE_ALT' | translate"
        />
      </div>
    </div>
  </div>
</section>
