<!-- Footer -->
<footer class="text-center text-lg-start bg-body-white">
  <div class="footer-gradient">
    <div class="left-side">
      <div class="image-container">
        <img
          src="assets/speack-to-us-2.png"
          alt="Speak to us illustration"
          class="footer-image"
        />
      </div>
      <div class="text-container">
        <h5>Speak to us</h5>
        <p>Ready to move your organization into the future?</p>
        <app-contact-us-button
          link="#"
          label="Contact Us"
        ></app-contact-us-button>
      </div>
    </div>
  </div>

  <!-- Section: Links  -->
  <section class="footer-section py-5">
    <div class="container">
      <div
        class="footer-content d-flex flex-column flex-md-row justify-content-between"
      >
        <!-- Left -->
        <div class="footer-left mb-4 mb-md-0">
          <!-- Logo -->
          <a class="navbar-brand mb-1 d-inline-block" href="#">
            <img src="assets/cleanTech-logo.png" alt="Logo" width="150" />
          </a>

          <!-- Address Label -->
          <h6 class="fw-bold mt-3">Address</h6>
          <p>Riyadh, Kingdom of Saudi Arabia</p>

          <!-- Contact Label -->
          <h6 class="fw-bold mt-3">Contact</h6>
          <p><i class="fas fa-phone me-2"></i> XXX XXXX 966+</p>
          <p><i class="fas fa-envelope me-2"></i> info&#64;aicloud.sa</p>

          <!-- Social Media Icons -->
          <div class="social-icons mt-3">
            <a href="#" class="me-3 facebook"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="#" class="me-3 twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="me-3 linkedin"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>

        <!-- Right -->
        <div class="footer-right">
          <p class="text-uppercase fw-bold mb-4">
            <a href="#" class="text-decoration-none text-dark">Home</a>
          </p>
          <p class="text-uppercase fw-bold mb-4">
            <a href="#" class="text-decoration-none text-dark">Our Services</a>
          </p>
          <p class="text-uppercase fw-bold mb-4">
            <a href="#" class="text-decoration-none text-dark">Our Partners</a>
          </p>
          <p class="text-uppercase fw-bold mb-4">
            <a href="#" class="text-decoration-none text-dark">About Us</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Bottom Section -->
  <section
    class="footer-bottom d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center p-4 border-top border-primary"
  >
    <!-- Left -->
    <div class="me-0 me-lg-5 mb-3 mb-lg-0 text-center text-lg-start">
      <span>© 2025 Ai.cloud. All rights reserved.</span>
    </div>

    <!-- Right -->
    <div class="footer-links text-center text-lg-end">
      <a href="#" class="mx-2 text-decoration-none text-dark">Privacy Policy</a>
      <a href="#" class="mx-2 text-decoration-none text-dark"
        >Terms of Service</a
      >
      <a href="#" class="mx-2 text-decoration-none text-dark"
        >Cookies Settings</a
      >
    </div>
  </section>
</footer>
<!-- Footer -->
