<nav class="sidebar-nav">
  <!-- Logo at top -->
  <div class="sidebar-logo">
    <a routerLink="">
      <img src="assets/cleanTech-logo.png" alt="Logo" width="170" />
    </a>
  </div>

  <!-- Navigation Links -->
  <ul class="sidebar-nav-links">
    <li>
      <a class="nav-link active" aria-current="page" routerLink="/clean-tech">
        <span>Home</span>
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/clean-tech/our-services">
        <span>Our Services</span>
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/clean-tech/our-partners">
        <span>Our Partners</span>
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/clean-tech/about-us">
        <span>About Us</span>
      </a>
    </li>
  </ul>

  <!-- Contact Button at bottom -->
  <div class="sidebar-contact">
    <app-contact-us-button link="#" label="Contact Us"></app-contact-us-button>
  </div>
</nav>
