<!-- Full-width Carousel -->
<div class="carousel-wrapper my-4">
  <div id="carouselExampleDark" class="carousel carousel-dark slide w-100">
    <div class="carousel-indicators custom-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div style="min-height: 140px">
          <div class="carousel-caption d-block">
            <h5>Our vision</h5>
            <p>
              Describe what your company is building towards in the future. This
              vision statement should serve the purpose of selling the dream of
              the company to hiring talent, investors and partners.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div style="min-height: 140px">
          <div class="carousel-caption d-block">
            <h5>Our Mission</h5>
            <p>
              To contribute to the digital transformation of institutions by
              providing innovative technological solutions and integrated
              digital services to enhance quality and performanc
            </p>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
