<section class="hero-section" appScrollTrigger>
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Column -->
      <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <div class="hero-content">
          <h1 class="hero-title" appScrollTrigger data-animation="fadeInLeft">
            {{ "HERO.TITLE" | translate }}
          </h1>
          <p
            class="hero-description"
            appScrollTrigger
            data-animation="fadeInUp"
            data-delay="1s"
          >
            {{ "HERO.DESCRIPTION" | translate }}
          </p>
          <!-- Reusable contact button -->
          <div appScrollTrigger data-animation="fadeInUp" data-delay="2s">
            <app-contact-us-button [label]="'HERO.CONTACT_BUTTON' | translate">
            </app-contact-us-button>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-12 col-lg-6 d-flex justify-content-center">
        <div
          class="image-wrapper position-relative"
          appScrollTrigger
          data-animation="zoomIn"
          data-delay="1s"
        >
          <img src="assets/ai_logo_white.png" alt="Hero Image" />
          <div class="pulse-dot pulse-dot-1"></div>
          <div class="pulse-dot pulse-dot-2"></div>
          <div class="pulse-dot pulse-dot-3"></div>
        </div>
      </div>
    </div>
  </div>
</section>
